.stats {
	position: relative;
}

.statColumn {
	h4 {
		display: flex;
		align-items: center;
		margin-bottom: 2.4rem;
		span {
			font-size: var(--text-md);
			font-weight: bold;
			margin-left: 0.8rem;
		}
	}
}

.scrollContainer {
	overflow: hidden;
	height: 30rem;
	margin-bottom: 2rem;
}

.statGrid {
	display: flex;
	flex-wrap: wrap;
	gap: 1.2rem;
}

.scrollContent {
	animation: scrollUp 20s linear infinite;
	padding-bottom: 1.2rem;
}

@keyframes scrollUp {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(calc(-50% - 1.2rem));
	}
}
