.heading {
  height: calc(45px + 3.6rem);
  padding: 0 3.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--bg-opaque);
  backdrop-filter: blur(12px);

  font-size: var(--text-md);
  font-weight: bold;

  @media (max-width: 768px) {
    padding: 0 2.4rem;
  }
}

.resumeLink {
  position: relative;
  z-index: 20;
  overflow: hidden;

  padding: 1rem 2rem;
  border: 1px solid var(--brand);
  border-radius: 4px;

  color: var(--brand);
  font-size: var(--text-sm);
  transition: 0.2s color;

  svg {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    inset: -100% 100% 100% -100%;
    z-index: -1;
    background: var(--brand);
    transition: 0.2s inset;
  }

  &:hover {
    color: var(--text);
  }

  &:hover::before {
    inset: 0;
  }

  @media (max-width: 420px) {
    padding: 0.5rem;

    svg {
      display: block;
    }

    span {
      display: none;
    }
  }
}
